/*************** Reset *********************/
* {
  margin: 0rem;
  padding: 0.4rem;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: pink;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-top: 100px;
}

p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.tal_input {
  text-align: center;
}

.gæt_knap {
  padding-inline: 5px;
  border-radius: 2px;
  background-color: black;
  color: white;
}

.gæt_knap:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.fejring {
  display: none;
  font-size: xx-large;
  color: orange;
  text-align: center;
}

#celebration {
  display: none;
  font-size: 3rem;
  animation: pop 0.6s ease-out forwards;
}

@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
